@font-face {
  font-family: ProximaNova;
  src: url('./Proxima Nova Font.woff') format('woff');
}
@font-face {
  font-family: ProximaNova-Extrabold;
  src: url('./Proxima-Nova-Xbold.woff') format('woff');
}

@font-face {
  font-family: NotoSansCJKtc-Bold;
  src: url('./NotoSansCJKtc-Bold.woff2') format('woff2');
}

.container {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.pre-game {
  width: 100%;
  height: 100%;
  padding-top: clamp(37px, 10%, 65px);
  padding-bottom: clamp(18px, 4.5%, 40px);
  background-color: #cf0a2c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pre-game-container {
  width: 90%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pre-game-header {
  position: relative;
  width: 100%;
  height: fit-content;
}

.pre-game-header::before {
  content: '';
  position: absolute;
  left: 0;
  top: clamp(13px, 3.5vw, 15px);
  width: 20px;
  height: 20px;
  background-image: url('./Images/bling.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pre-game-header::after {
  content: '';
  position: absolute;
  right: 0;
  top: clamp(13px, 3.5vw, 15px);
  width: 20px;
  height: 20px;
  background-image: url('./Images/bling.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pre-game-header > .money {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 46px;
  height: 28px;
  background-image: url('./Images/money.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pre-game-header > .money::before {
  content: '';
  position: absolute;
  left: -33vw;
  bottom: 0;
  width: 25vw;
  height: 2px;
  background-image: url('./Images/line_short.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pre-game-header > .money::after {
  content: '';
  position: absolute;
  right: -33vw;
  bottom: 0;
  width: 25vw;
  height: 2px;
  background-image: url('./Images/line_short.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pre-game-header > .title {
  color: #ffcb27;
  font-size: clamp(26px, 7vw, 30px);
  font-weight: 800;
  font-family: 'ProximaNova-Extrabold';
  text-align: center;
  line-height: 2;
}

.pre-game-header > .title::after {
  content: '';
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 10px;
  background-image: url('./Images/line_long.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.shoes-container {
  width: 100%;
  height: 60vh;
  position: relative;
}

.shoes-series {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.shoes-series > :nth-child(n) {
  position: relative;
  display: flex;
  align-items: center;
}

.shoes-series > :nth-child(n) > .shoes-color {
  font-family: 'NotoSansCJKtc-Bold';
  font-size: clamp(16px, 4.5vw, 20px);
  font-weight: bold;
  color: #fff;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 20%;
}

.shoes-series > .series-550 {
  width: 15%;
}

.shoes-series > .series-550 > .text-550 {
  width: 100%;
  aspect-ratio: 3/2;
  background-image: url(./Images/text-550.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  bottom: -10%;
}

.shoes-series > .series-550.choose {
  position: relative;
  width: 75%;
}

.shoes-series > .series-550.choose::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 20%;
  width: 2px;
  height: 30px;
  background-color: #fff;
  transform: rotate(45deg);
}

.shoes-series > .series-550.choose > .text-550 {
  width: 50%;
  aspect-ratio: 3/2;
  background-image: url(./Images/stroke-550.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  bottom: 0;
}

.shoes-series > .series-550.choose > .shoes-color {
  display: inline-block;
}

.shoes-series > .series-1906 {
  width: 25%;
}

.shoes-series > .series-1906 > .text-1906 {
  width: 100%;
  aspect-ratio: 12/5;
  background-image: url(./Images/text-1906.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  bottom: -10%;
}

.shoes-series > .series-1906.choose {
  position: relative;
  width: 85%;
}

.shoes-series > .series-1906.choose::before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 20%;
  width: 2px;
  height: 30px;
  background-color: #fff;
  transform: rotate(45deg);
}

.shoes-series > .series-1906.choose > .text-1906 {
  width: 70%;
  aspect-ratio: 12/5;
  background-image: url(./Images/stroke-1906.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  bottom: 0;
  left: 30px;
}

.shoes-series > #series-1906.choose > .shoes-color {
  display: inline-block;
  left: 80%;
}

.demo-shoes-container {
  width: 110%;
  height: 85%;
  position: absolute;
  left: -5%;
  bottom: 0;
}

.shoes-bg-cloud {
  width: 96vw;
  height: 45.7vw;
  position: absolute;
  top: 50%;
  left: 2vw;
  transform: translateY(-50%);
  background-image: url(./Images/pre-game-cloud.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shoes-swiper {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 20%;
  top: -10px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.shoes-slide {
  width: 100%;
  height: 30vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
  display: block;
}

.red-550 {
  background-image: url(./Images/550-red.webp);
}
.brown-550 {
  background-image: url(./Images/550-brown.webp);
}
.black-550 {
  background-image: url(./Images/550-black.webp);
}
.gray-550 {
  background-image: url(./Images/550-gray.webp);
}
.white-550 {
  background-image: url(./Images/550-white.webp);
}

.red-1906 {
  background-image: url(./Images/1906-red.webp);
}

.blue-1906 {
  background-image: url(./Images/1906-blue.webp);
}

.gray-1906 {
  background-image: url(./Images/1906-gray.webp);
}

.silver-1906 {
  background-image: url(./Images/1906-silver.webp);
}

.pagination-550 > :nth-child(1) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #cf0a2c;
}
.pagination-550 > :nth-child(2) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #78564c;
}

.pagination-550 > :nth-child(3) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #fff;
}
.pagination-550 > :nth-child(4) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #fff;
}
.pagination-550 > :nth-child(5) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #fff;
}

.pagination-1906 > :nth-child(1) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #cf0a2c;
}
.pagination-1906 > :nth-child(2) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #0a5d89;
}

.pagination-1906 > :nth-child(3) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #919191;
}

.pagination-1906 > :nth-child(4) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #fff;
}

.pre-game-btn {
  width: 320px;
  height: 70px;
  border-radius: 35px;
  background-color: #ffcb27;
  box-shadow: 6px 6px 0 0 #fff;
  text-align: center;
  font-family: ProximaNova;
  font-weight: bold;
  font-size: 30px;
  line-height: 2;
  border: 2.5px solid #000000;
  color: #000;
}

.pre-game-btn > .icon-black-arrow::before {
  width: 17px;
  height: 19px;
  margin-left: 10px;
}

.icon-white-arrow::before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url('./Images/arrow-w.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-black-arrow::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('./Images/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.red-btn {
  position: absolute;
  bottom: calc(-6.9cqw + 6px);
  left: 50%;
  transform: translateX(-50%);
  width: 64cqw;
  height: 13.8cqw;
  border-radius: 35px;
  background-color: #cf0a2c;
  border: 2.5px solid #000000;
  box-shadow: 6px 6px 0 0 #ffcb27;
  color: #fff;
  font-size: clamp(20px, 5.6vw, 24px);
  font-family: 'ProximaNova-Extrabold';
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.red-btn > .icon-white-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}

.red-btn > .icon-white-arrow::before {
  position: absolute;
}

.yellow-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 45px;
  border: solid 2.5px #000;
  border-radius: 35px;
  background-color: #ffcb27;
  box-shadow: 3px 3px 0 0 #fff;
  font-size: clamp(14px, 4vw, 18px);
  font-family: 'ProximaNova';
  font-weight: bold;
  color: #151415;
}

.yellow-btn > .icon-black-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
}

.yellow-btn > .icon-black-arrow::before {
  position: absolute;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.fail-modal-container {
  position: relative;
  width: 85vw;
  height: 94vw;
  background-image: url(./Images/fail-modal-bg.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  container-type: size;
}

.fail-back-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.oops {
  width: 50%;
  aspect-ratio: 13/10;
  background-image: url(./Images/oops.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}

.fail-text {
  font-size: clamp(16px, 5vw, 22px);
  font-family: NotoSansCJKTC;
  text-align: center;
  color: #737b82;
  padding-top: 27.6cqh;
}

.cheer-up {
  width: 50%;
  aspect-ratio: 11/10;
  background-image: url(./Images/cheerup.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.success-modal-container {
  position: relative;
  width: 85vw;
  height: 120vw;
  background-image: url(./Images/stage-modal-bg.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  container-type: size;
}

.success-modal-container > .success-modal-header {
  width: 100%;
  height: 18.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-modal-container > .success-modal-header > .title {
  color: #000;
  font-size: clamp(24px, 7vw, 30px);
  font-family: NotoSansCJKTC;
}

.success-modal-container > .success-modal-header > .title > .amount {
  font-size: clamp(35px, 9vw, 40px);
  font-family: 'ProximaNova-Extrabold';
  font-weight: 800;
}

.success-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.success-btn-container > :nth-child(1) {
  margin-right: 20px;
}

.leaf {
  width: 39px;
  height: 55px;
  background-image: url(./Images/leaf.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.leaf1 {
  top: -24px;
  left: 18px;
}

.leaf2 {
  top: 35px;
  right: 15px;
  transform: scaleX(-1);
}

.triangle {
  width: 28px;
  height: 24px;
  background-image: url(./Images/triangle.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -10px;
  right: 60px;
}

.coin {
  width: 33px;
  height: 33px;
  background-image: url(./Images/coin.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -8px;
  bottom: 100px;
}

.star {
  width: 20px;
  height: 20px;
  background-image: url(./Images/star.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.success-modal-container > .stage-container {
  width: 100%;
  height: 81.5%;
}

.success-modal-container > .stage-container > .stage-detail {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-modal-container > .stage-container > .stage-detail > .stage-name {
  position: relative;
  color: #cf0a2c;
  font-size: clamp(35px, 9vw, 40px);
  font-family: 'NotoSansCJKtc-Bold';
  font-weight: bold;
  margin-top: clamp(20px, 6cqh, 30px);
}

.stage-container > .stage-detail > .stage-name::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(./Images/line-red.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stage-container > .stage-detail > .stage-name::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(./Images/line-red.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stage-container > .stage-detail > .stage-swiper {
  width: 100%;
  height: 50%;
  margin-top: clamp(14px, 3.5cqh, 18px);
  margin-bottom: clamp(8px, 2cqh, 10px);
  position: relative;
}

.stage-swiper > .swiper-button-prev::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 35px;
  background-image: url('./Images/arrow-rl.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scaleX(-1);
}

.stage-swiper > .swiper-button-next::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 35px;
  background-image: url('./Images/arrow-rl.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.stage-container > .stage-detail > .stage-description {
  color: #737b82;
  font-family: 'NotoSansCJKtc-Bold';
  font-size: clamp(16px, 4.6vw, 20px);
  font-weight: bold;
  text-align: center;
}

.stage-container > .stage-award {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  color: #151415;
  font-size: clamp(24px, 7vw, 30px);
  font-weight: bold;
}

.stage-baseImg {
  width: 130px;
  height: 130px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.boss {
  background-image: url(./Images/jump_boss.png);
}
.pig {
  background-image: url(./Images/jump_pig.png);
}
.weasel {
  background-image: url(./Images/jump_weasel.png);
}
.money {
  background-image: url(./Images/jump_money.png);
}
.invoice {
  background-image: url(./Images/jump_invoice.png);
}
.goldfish {
  background-image: url(./Images/jump_goldfish.png);
}
.ghost {
  background-image: url(./Images/jump_ghost.png);
}
.love {
  background-image: url(./Images/jump_love.png);
}
.clothes {
  background-image: url(./Images/jump_clothes.png);
}
