@font-face {
  font-family: ProximaNova;
  src: url('/Proxima Nova Font.woff') format('woff2');
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.pre-game {
  width: 100vw;
  height: 100vh;
  padding: 60px 0 40px;
  background-color: #cf0a2c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pre-game-container {
  width: 90vw;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pre-game-header {
  position: relative;
  width: 100%;
  height: fit-content;
}

.pre-game-header::before {
  content: '';
  position: absolute;
  left: 0;
  top: clamp(13px, 3.5vw, 15px);
  width: 20px;
  height: 20px;
  background-image: url('./Images/bling.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pre-game-header::after {
  content: '';
  position: absolute;
  right: 0;
  top: clamp(13px, 3.5vw, 15px);
  width: 20px;
  height: 20px;
  background-image: url('./Images/bling.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pre-game-header > .money {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 46px;
  height: 28px;
  background-image: url('./Images/money.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pre-game-header > .money::before {
  content: '';
  position: absolute;
  left: -33vw;
  bottom: 0;
  width: 25vw;
  height: 2px;
  background-image: url('./Images/line_short.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pre-game-header > .money::after {
  content: '';
  position: absolute;
  right: -33vw;
  bottom: 0;
  width: 25vw;
  height: 2px;
  background-image: url('./Images/line_short.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pre-game-header > .title {
  --min-size: 26;
  --max-size: 30;

  color: #ffcb27;
  font-size: clamp(var(--min-size) * 1px, 7vw, var(--max-size) * 1px);
  font-weight: 800;
  text-align: center;
  line-height: 2;
}

.pre-game-header > .title::after {
  content: '';
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 10px;
  background-image: url('./Images/line_long.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.shoes-container {
  width: 100%;
  height: 60vh;
  position: relative;
}

.shoes-series {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #fff;
  font-family: 'ProximaNova';
  font-size: 7vw;
  font-weight: 800;
  text-align: center;
  position: relative;
  z-index: 2;
}

.shoes-series > .choose {
  width: 95%;
  font-size: 16.3vw;
  font-weight: normal;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  color: transparent;
  position: relative;
}

.shoes-series > .series-550.choose {
  text-align: left;
}

.shoes-series > .series-1906.choose {
  text-align: right;
}

.shoes-series > .series-550.choose::after {
  content: '';
  position: absolute;
  width: 2px;
  top: 60%;
  bottom: 0;
  right: 35px;
  transform: rotate(45deg) translateY(-80%);
  background-color: #fff;
}

.shoes-series > .series-1906.choose::before {
  content: '';
  position: absolute;
  width: 2px;
  top: 60%;
  bottom: 0;
  left: 0;
  transform: rotate(45deg) translateY(-80%);
  background-color: #fff;
}

.series-550 > .shoes-color {
  font-size: 4.5vw;
  display: none;
}

.series-1906 > .shoes-color {
  font-size: 4.5vw;
  display: none;
}

.choose > .shoes-color {
  display: inline-block;
}

.demo-shoes-container {
  width: 110%;
  height: 85%;
  position: absolute;
  left: -5%;
  bottom: 0;
}

.shoes-bg-cloud {
  width: 96vw;
  height: 45.7vw;
  position: absolute;
  top: 50%;
  left: 2vw;
  transform: translateY(-50%);
  background-image: url(./Images/pre-game-cloud.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shoes-swiper {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 20%;
  top: -10px;
  /* border: 1px solid; */
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.shoes-slide {
  width: 100%;
  height: 30vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
  display: block;
}

.red-550 {
  background-image: url(./Images/550-red.png);
}
.brown-550 {
  background-image: url(./Images/550-brown.png);
}
.black-550 {
  background-image: url(./Images/550-black.png);
}

.red-1906 {
  background-image: url(./Images/1906-red.png);
}

.blue-1906 {
  background-image: url(./Images/1906-blue.png);
}

.gray-1906 {
  background-image: url(./Images/1906-gray.png);
}

.silver-1906 {
  background-image: url(./Images/1906-silver.png);
}

.pagination-550 > :nth-child(1) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #cf0a2c;
}
.pagination-550 > :nth-child(2) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #78564c;
}

.pagination-550 > :nth-child(3) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #fff;
}

.pagination-1906 > :nth-child(1) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #cf0a2c;
}
.pagination-1906 > :nth-child(2) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #0a5d89;
}

.pagination-1906 > :nth-child(3) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #919191;
}

.pagination-1906 > :nth-child(4) {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 1;
  border: solid 2px #151415;
  background-color: #fff;
}
.pre-game-btn {
  width: 320px;
  height: 70px;
  border-radius: 35px;
  background-color: #ffcb27;
  box-shadow: 6px 6px 0 0 #fff;
  text-align: center;
  font-family: ProximaNova;
  font-weight: bold;
  font-size: 30px;
  line-height: 2;
  border: 2.5px solid #000000;
  color: #000;
}

.icon-white-arrow::before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url('./Images/arrow-w.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-black-arrow::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 19px;
  margin-left: 10px;
  background-image: url('./Images/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.fail-modal-container {
  position: relative;
  width: 85vw;
  height: 94vw;
  background-image: url(./Images/fail-modal-bg.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.oops {
  width: 50%;
  height: 140px;
  background-image: url(./Images/oops.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}
.fail-text {
  font-size: clamp(16px, 5vw, 22px);
  font-family: NotoSansCJKTC;
  text-align: center;
  color: #737b82;
  padding-top: 110px;
}
.cheer-up {
  width: 50%;
  height: 162px;
  background-image: url(./Images/cheerup.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.play-again {
  width: 65%;
  height: 50px;
  border-radius: 35px;
  background-color: #cf0a2c;
  border: 2.5px solid #000000;
  box-shadow: 6px 6px 0 0 #ffcb27;
  color: white;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.back-home {
  width: 140px;
  height: 45px;
  border-radius: 35px;
  box-shadow: 3px 3px 0 0 #fff;
  border: solid 2.5px #000;
  background-color: #ffcb27;
  margin-top: 60px;
  font-weight: bold;
  color: #151415;
  font-size: 18px;
}

.yellow-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 45px;
  border: solid 2.5px #000;
  border-radius: 35px;
  background-color: #ffcb27;
  box-shadow: 3px 3px 0 0 #fff;
  font-size: clamp(14px, 4vw, 18px);
  font-weight: bold;
  color: #151415;
}

.yellow-btn > .icon-black-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.red-btn {
  width: 65%;
  height: 50px;
  border-radius: 35px;
  background-color: #cf0a2c;
  border: 2.5px solid #000000;
  box-shadow: 6px 6px 0 0 #ffcb27;
  color: white;
  font-weight: bold;
  font-size: clamp(20px, 5.6vw, 24px);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.fail-back-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.success-modal-container {
  position: relative;
  width: 85vw;
  height: 120vw;
  background-image: url(./Images/stage-modal-bg.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.success-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.success-btn-container > :nth-child(1) {
  margin-right: 20px;
}

.success-modal-header {
  width: 100%;
  height: 18.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-modal-header > .title {
  color: #000;
  font-size: clamp(24px, 7vw, 30px);
  font-family: NotoSansCJKTC;
  text-align: center;
}

.success-modal-header > .title > .amount {
  font-size: clamp(35px, 9vw, 40px);
  font-weight: 800;
}

.leaf {
  width: 39px;
  height: 55px;
  background-image: url(./Images/leaf.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.leaf1 {
  top: -24px;
  left: 18px;
}
.leaf2 {
  top: 35px;
  right: 15px;
  transform: scaleX(-1);
}
.triangle {
  width: 28px;
  height: 24px;
  background-image: url(./Images/triangle.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -10px;
  right: 60px;
}
.coin {
  width: 33px;
  height: 33px;
  background-image: url(./Images/coin.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -8px;
  bottom: 100px;
}
.star {
  width: 20px;
  height: 20px;
  background-image: url(./Images/star.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.stage-container {
  width: 100%;
  height: 81.5%;
}

.stage-detail {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage-detail > .stage-name {
  position: relative;
  color: #cf0a2c;
  font-size: clamp(35px, 9vw, 40px);
  font-weight: bold;
  margin-top: 20px;
}

.stage-detail > .stage-name::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(./Images/line-red.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stage-detail > .stage-name::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background-image: url(./Images/line-red.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stage-award {
  width: 100%;
  height: 25%;
}

.stage-swiper {
  width: 100%;
  height: 50%;
  margin: 20px 0 10px;
  position: relative;
}

.stage-swiper > .swiper-button-prev::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 35px;
  background-image: url('./Images/arrow-rl.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scaleX(-1);
}

.stage-swiper > .swiper-button-next::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 35px;
  background-image: url('./Images/arrow-rl.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.stage-detail > .stage-description {
  color: #737b82;
  font-size: clamp(16px, 4.6vw, 20px);
  font-weight: bold;
  text-align: center;
}
.stage-baseImg {
  width: 130px;
  height: 130px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.boss {
  background-image: url(./Images/jump_boss.png);
}
.pig {
  background-image: url(./Images/jump_pig.png);
}
.weasel {
  background-image: url(./Images/jump_weasel.png);
}
.money {
  background-image: url(./Images/jump_money.png);
}
.invoice {
  background-image: url(./Images/jump_invoice.png);
}
.goldfish {
  background-image: url(./Images/jump_goldfish.png);
}
.ghost {
  background-image: url(./Images/jump_ghost.png);
}
.love {
  background-image: url(./Images/jump_love.png);
}
.clothes {
  background-image: url(./Images/jump_clothes.png);
}
