.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.pre-game {
  width: 100vw;
  height: 100vh;
  background-color: #cf0a2c;
  padding: 60px 0 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-betwseen; */
  align-items: center;
}

.pre-game-container {
  width: 90vw;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.pre-game-header {
  position: relative;
  width: 100%;
  height: 70px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('./Images/bling.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('./Images/bling.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  > .title {
    /* color: #ffcb27;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    line-height: 70px; */
  }

  > .before-title {
    position: absolute;
    left: 0;
    right: 0;

    > .money-icon {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 46px;
      height: 28px;
      background-image: url('./Images/money.webp');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &::before {
      content: '';
      position: absolute;
      left: 20px;
      bottom: 0;
      width: 106px;
      height: 2px;
      background-image: url('./Images/line_short.webp');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &::after {
      content: '';
      position: absolute;
      right: 20px;
      bottom: 0;
      width: 106px;
      height: 2px;
      background-image: url('./Images/line_short.webp');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  > .after-title {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 10px;
    background-image: url('./Images/line_long.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.pre-game-header > .title {
  --min-size: 26;
  --max-size: 30;

  color: #ffcb27;
  font-size: clamp(var(--min-size) * 1px, 7vw, var(--max-size) * 1px);
  font-weight: 800;
  text-align: center;

  /* font-size: 26px; */
  /* line-height: 70px; */
}

.shoes-container {
  width: 100%;
  height: 60vh;
  margin-top: 45px;
  /* background: #fff; */
}

.shoes-series {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: ProximaNova;
  font-size: 30px;
  font-weight: 800;
  text-align: center;

  > .choose {
    width: 66%;
    color: #cf0a2c;
    text-align: left;
    font-size: 70px;
    font-weight: 800;
    -webkit-text-stroke: 2px #fff;
    position: relative;
    font-family: ProximaNova-Extrabold;

    > .shoes-color {
      font-family: NotoSansCJKTC;
      font-size: 18px;
      font-weight: normal;
      color: #fff;
    }

    &::after {
      content: '/';
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 18px;
      font-weight: normal;
      color: #fff;
    }
  }
}

.shoes-swiper {
  width: 100%;
  height: 45%;
  position: relative;
  margin-top: 35px;
}
.swiper-wrapper {
  align-items: center;
}

.shoes-bg-cloud {
  width: 95vw;
  height: 47.5vw;
  position: absolute;
  top: 0px;
  left: -2.5%;
  background-image: url(./Images/pre-game-cloud.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.shoe-slide {
  width: 280px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.red-550 {
  background-image: url(./Images/550-red.png);
}
.brown-550 {
  background-image: url(./Images/550-brown.png);
}
.black-550 {
  background-image: url(./Images/550-black.png);
}

.swiper-pagination {
  bottom: -70px !important;
}

.swiper-pagination-bullet {
  &:nth-child(1) {
    border: solid 2px #151415;
    background-color: #cf0a2c;
  }
  &:nth-child(2) {
    border: solid 2px #151415;
    background-color: #78564c;
  }
  &:nth-child(3) {
    border: solid 2px #151415;
    background-color: #fff;
  }
  width: 16px;
  height: 16px;
  opacity: 1;
}

.pre-game-btn {
  width: 320px;
  height: 70px;
  border-radius: 35px;
  background-color: #ffcb27;
  box-shadow: 6px 6px 0 0 #fff;
  margin: 0 auto;
  text-align: center;
  font-family: ProximaNova;
  font-weight: bold;
  font-size: 30px;
  line-height: 70px;
  border: 2.5px solid #000000;
}

.icon-white-arrow {
  &::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url('./Images/arrow-w.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.icon-black-arrow {
  &::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 19px;
    background-image: url('./Images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.fail-modal-container {
  position: relative;
  width: 85vw;
  height: 94vw;
  background-image: url(./Images/fail-modal-bg.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.oops {
  width: 50%;
  height: 140px;
  background-image: url(./Images/oops.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}
.fail-text {
  font-size: 20px;
  font-family: NotoSansCJKTC;
  text-align: center;
  color: #737b82;
  padding-top: 110px;
}
.cheer-up {
  width: 50%;
  height: 162px;
  background-image: url(./Images/cheerup.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.play-again {
  width: 65%;
  height: 50px;
  border-radius: 35px;
  background-color: #cf0a2c;
  border: 2.5px solid #000000;
  box-shadow: 6px 6px 0 0 #ffcb27;
  color: white;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.back-home {
  width: 140px;
  height: 45px;
  border-radius: 35px;
  box-shadow: 3px 3px 0 0 #fff;
  border: solid 2.5px #000;
  background-color: #ffcb27;
  margin-top: 60px;
  font-weight: bold;
  color: #151415;
  font-size: 18px;
}

.yellow-btn {
  width: 140px;
  height: 45px;
  border: solid 2.5px #000;
  border-radius: 35px;
  background-color: #ffcb27;
  box-shadow: 3px 3px 0 0 #fff;
  /* margin-top: 60px; */
  font-size: 18px;
  font-weight: bold;
  color: #151415;
}

.red-btn {
  width: 65%;
  height: 50px;
  border-radius: 35px;
  background-color: #cf0a2c;
  border: 2.5px solid #000000;
  box-shadow: 6px 6px 0 0 #ffcb27;
  color: white;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.fail-back-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.success-modal-container {
  position: relative;
  width: 85vw;
  height: 120vw;
  background-image: url(./Images/stage-modal-bg.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.success-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  > :nth-child(1) {
    margin-right: 20px;
  }
}
.success-modal-header {
  width: 100%;
  height: 18.5%;
  display: flex;
  justify-content: center;
  align-items: center;

  > .title {
    color: #000;
    font-size: 26px;
    font-family: NotoSansCJKTC;
    text-align: center;

    > .amount {
      font-size: 40px;
      font-weight: 800;
    }
  }
}

.leaf {
  width: 39px;
  height: 55px;
  background-image: url(./Images/leaf.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.leaf1 {
  top: -24px;
  left: 18px;
}
.leaf2 {
  top: 35px;
  right: 15px;
  transform: scaleX(-1);
}
.triangle {
  width: 28px;
  height: 24px;
  background-image: url(./Images/triangle.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -10px;
  right: 60px;
}
.coin {
  width: 33px;
  height: 33px;
  background-image: url(./Images/coin.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -8px;
  bottom: 100px;
}
.star {
  width: 20px;
  height: 20px;
  background-image: url(./Images/star.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.stage-container {
  width: 100%;
  height: 81.5%;
}
.stage-detail {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stage-award {
  width: 100%;
  height: 25%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.stage-name {
  font-size: 40px;
  color: #cf0a2c;
  font-weight: bold;
  margin-top: 20px;
  /* text-align: center; */
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    height: 3px;
    background-image: url(./Images/line-red.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 3px;
    background-image: url(./Images/line-red.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.stage-swiper {
  width: 100%;
  height: 50%;
  margin: 20px 0 10px;
  position: relative;

  /* &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    border: 2px solid #cf0a2c;
  } */
}

.boss {
  width: 130px;
  height: 130px;
  background-image: url(./Images/jump_boss.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pig {
  width: 130px;
  height: 130px;
  background-image: url(./Images/jump_pig.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.weasel {
  width: 130px;
  height: 130px;
  background-image: url(./Images/jump_weasel.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.money {
  width: 130px;
  height: 130px;
  background-image: url(./Images/jump_money.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.invoice {
  width: 130px;
  height: 130px;
  background-image: url(./Images/jump_invoice.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.goldfish {
  width: 130px;
  height: 130px;
  background-image: url(./Images/jump_goldfish.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.ghost {
  width: 130px;
  height: 130px;
  background-image: url(./Images/jump_ghost.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.love {
  width: 130px;
  height: 130px;
  background-image: url(./Images/jump_love.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.clothes {
  width: 130px;
  height: 130px;
  background-image: url(./Images/jump_clothes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-button-prev {
  &::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 35px;
    background-image: url('./Images/arrow-rl.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scaleX(-1);
  }
}

.swiper-button-next {
  &::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 35px;
    background-image: url('./Images/arrow-rl.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.stage-description {
  color: #737b82;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
